 /* Otomaik 8px margin gelir */

*{
    margin:0px;
    padding:0px;
    color:bisque;
    list-style: none;
    font-family: Arial;
    
}
#page{
    width:1000px;
    height:1800px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;

}
/* divler içindekiler kadar yüksektir. */
#logo{
    width:250px;
    float:left;
    text-align: center;
}
#logo img{
    width:150px;
    height: 150px;
}
#logo h1{
    font-size: 30px;
    letter-spacing: 5px;
    text-shadow:3px 3px 5px rgb(63,62,62) ;
    /* ilk iki değer dikey ve yatay konumu ifade eder. */
    /* üçüncü değer bulanıklık oranı */
    /* box-shadow displayı blok olana uygulanır. */
    /* box-shadow: 10px 20px 5px red; */
    line-height: 50px;
}
header nav{
    float:right;
    width:750px;
    margin-top:145px;
}
header nav li{
    float:left;
    /* İnline elementlerin genişlik ve yüksekliği olmaz. */
   
}

header nav a{
    /* display blok ise with değeri alabilir. */
    display:block;
    width:150px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size:20px;
    border-right:2px solid bisque;
    box-sizing:border-box;
}
header nav li:last-child a{
    /* (2)nth-child 2.çocuk anlamında geliyor. */
    border-right:none;}
header nav a:hover{
    color:white;
    background-color: bisque;
    transition-duration: 2s;
    /* transition-timing-function: ; */
    /* transation property ile tek özellik seçilebilir. Varsayılan alldur. Araya virgül koyarak özelliklerde seçilebilir. */
    /* transition-property: all; */
    /* transition-delay: 2s; */
}
.clear{
    clear:both;
}
#slayt{
    height: 460px;
    border:5px solid bisque;
    box-sizing:border-box;
    border-radius:5px;
    background-image:url("images/banner.jpg");
    background-size:1000px 460px;
    animation-name: degisen_arkaplan;
    animation-duration: 15s;
    /* animation-delay: 2s; başlama süresi */
    animation-iteration-count: infinite;
    /* infinite tekrar oluşturur. Sonsuz olmasını istemezseniz sayı belirtilir.*/
    /* animation-timing-function: ease standart ease in out hızlı gir yavaş çık demek. Animasyon ivmesi demek; */
    /* animation-fill-mode: animasyon sonsuz tekrarlı değilse son karede mi ilk karede mi kalacağını ifade eder.; */

}
@keyframes degisen_arkaplan{
    /* 0%{} */
    33%{
        background-image: url(images/banner2.jpg);
    }
    66%{
        background-image: url(images/banner3.jpg);
    }
    /* 100%{} */
}
/* varsayılan position değeri statictir. Absolute iskeletten kopan konumunu pencereye doğru öne doğru gelir float çalışmaz. Top left bottom rightdan değer alır. Fixed sayfada stabil kalır.Relative static iskelet gibiler.İçinde absolute yapılar varsa onları tutar ve konumunu aldırır.*/
#slayt2{
    height: 460px;
    border:5px solid bisque;
    box-sizing:border-box;
    border-radius:5px;
    position:relative;
    overflow: hidden;
}
#slayt2 div{
    width:3010px;
    height:460px;
    position:absolute;
    top:0px;
    left:0px;
    animation-name:kayanslayt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-delay:2s ;
    /* delay bekleme süresi verir. */
}
@keyframes kayanslayt{
    /* 0%{} */
    33%{left: -1000px;}
    66%{left:-2000px;}
    /* 100%{} */
}
#slayt2 div:hover{
    animation-play-state:paused ;
    /* animasyonu durdurmayı sağlar.Running yüklenir yüklenmez hep çalışmaya başlar. Pause sayfa tarayıcıya yüklenir yüklenmez dursun.Paused hoverda kullanılırsa üzerine gelince durmasını sağlar.*/

}
#slayt2 div img{
    width:1000px;
    height:460px;
}
/* transation hovera geçişin yavaş yavaş olmasını sağlar. */
#bolum2,#bolum3{
    margin-top:40px;
    display:flex;
    justify-content: space-between;
}
#bolum4{
    height:270px;
    margin-top: 20px;;
}
#bolum2 img,#bolum3 video{
    width:340px;
    height: 260px;
    border:3px solid bisque;
    box-sizing: border-box;
    border-radius: 5px;
}
#bolum2 article,#bolum3 article{
    width:640px;
    height: 260px;
    overflow:auto;
    margin-right:10px;
}
#bolum3 video{
    object-fit: fill;
    margin-right: 10px;


}






